@import 'variables';

.memory {
    position: relative;
    font-family: monospace;

    tr {

        &:first-child {
            color: $color-accent;
        }

        td {
            &:nth-child(4n+1) {
                padding-right: 1em;
            }

            &:first-child {
                padding-right: 2em;
                color: $color-accent;
            }

            &.target {
                background: grey;
                color: white;
                font-weight: bold;
            }
        }

        &:not(:first-child) {
            td:not(:first-child):hover {
                background: $color-accent;
                color: white;
            }
        }
    }

    input {
        width: 4em;
        text-align: right;
        font-size: 1em;
        font-family: monospace;
        height: 0.8em;
    }

    .controls {
        position: absolute;
        right: -0.75em;
        bottom: 0.5em;
        display: flex;
        flex-direction: column;

        i {
            font-size: 1em;
            color: lighten($color-accent, 20%);

            &:hover {
                color: $color-accent;
            }
        }
    }
}
